@import url('https://shankarbus.github.io/kaadu-ui/kaadu-ui.css');

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #0e0e0e;
}

@media (min-width: 1024px) {
    #main {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .column-2 {
        grid-column: span 2;
    }
}

.achievement-image {
    width: 100%;
    height: 100%;
    border-radius: var(--control-corner-radius);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.links-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.links-list li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.org-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.org-details .avatar {
    width: 32px;
    height: 32px;
    border-radius: calc(var(--control-corner-radius) / 2);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.badge-tskill {
    background-color: var(--blue-color);
    border: none;
    color: #0e0e0e;
}

.badge-pskill {
    background-color: var(--green-color);
    border: none;
    color: #0e0e0e;
}

.thumbnail {
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--control-corner-radius);
}

body.github-load-error .gh {
    display: none;
}

body.github-load-error .gh-error-message {
    display: block;
}

.gh-error-message {
    display: none;
}

#imageViewerContent {
    width: 100%;
    height: 100%;
    background-color: var(--panel-background);
}

#imageViewerDetails {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(to top, #0e0e0e 0%, transparent 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 10px 10px 10px;
    color: #ffffff;
}

.image-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    padding: 4px;
    color: var(--text-color);
    background: transparent;
    border: 1px solid transparent;
    z-index: 10;
}

.image-nav-button {
    position: absolute;
    top: 50%;
    padding: 6px 2px;
    transform: translateY(-50%);
    background-color: var(--smoke-background-color);
    border: none;
    color: var(--text-color);
    z-index: 10;
}

.image-nav-button.prev {
    border-radius: 0 var(--control-corner-radius) var(--control-corner-radius) 0;
    left: 0px;
    padding-left: 0px;
}

.image-nav-button.next {
    border-radius: var(--control-corner-radius) 0 0 var(--control-corner-radius);
    right: 0px;
    padding-right: 0px;
}

.image-container {
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}